In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

In [3]:
data = pd.read_csv('train.csv', header=0)

In [6]:
data.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [10]:
train = pd.read_csv('train.csv', header=0)
test = pd.read_csv('test.csv', header=0)

survivers = train.Survived
train.drop('Survived',axis=1,inplace=True)
combined = train.append(test)
combined.reset_index(inplace=True)
combined.drop('index', axis = 1, inplace=True)

In [12]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1046 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

In [13]:
combined['Title'] = combined['Name'].map(lambda name: name.split(',')[1].split('.')[0].strip())

In [17]:
combined['Surname'] = combined['Name'].map(lambda surname: surname.split(',')[0].strip())

In [18]:
combined.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Surname
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,Braund
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,Cumings
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,Heikkinen
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,Futrelle
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,Allen

In [22]:
combined['FamilySize'] = combined['SibSp'] + combined['Parch'] + 1

In [29]:
titles = list(np.unique(combined.Title))

In [35]:
combined.Sex = combined.Sex.map({'female':0,'male':1})

In [40]:
combined.Age = combined.groupby(['Sex','Pclass','Title'])['Age'].transform(lambda x: x.fillna(x.median()))

In [47]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null int64
Age            1308 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1309 non-null object
Cabin          295 non-null object
Embarked       1309 non-null object
Title          1309 non-null object
Surname        1309 non-null object
FamilySize     1309 non-null int64
dtypes: float64(1), int64(6), object(7)
memory usage: 143.2+ KB

In [46]:
combined.Fare = combined.Fare.fillna('8.05')

In [48]:
combined.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Surname,FamilySize
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.25,NaN,S,Mr,Braund,2
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,Cumings,2
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.925,NaN,S,Miss,Heikkinen,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1,C123,S,Mrs,Futrelle,2
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.05,NaN,S,Mr,Allen,1

In [51]:
combined.Ticket.value_counts()

CA. 2343              11
CA 2144                8
1601                   8
S.O.C. 14879           7
PC 17608               7
347077                 7
347082                 7
3101295                7
347088                 6
113781                 6
382652                 6
19950                  6
16966                  5
PC 17757               5
W./C. 6608             5
349909                 5
113503                 5
220845                 5
4133                   5
PC 17760               4
PC 17755               4
24160                  4
LINE                   4
17421                  4
230136                 4
12749                  4
SC/Paris 2123          4
113760                 4
36928                  4
C.A. 34651             4
PC 17483               4
C.A. 33112             4
W./C. 6607             4
C.A. 2315              4
2666                   4
248738                 3
239853                 3
29103                  3
26360                  3
PC 17761               3
PC 17572               3
248727                 3
C.A. 31029             3
371110                 3
C 4001                 3
C.A. 2673              3
SOTON/O.Q. 3101315     3
345773                 3
13502                  3
35273                  3
                      ..
364851                 1
347078                 1
29011                  1
348125                 1
A. 2. 39186            1
28404                  1
A/4. 39886             1
C 7075                 1
PC 17600               1
315094                 1
347064                 1
SC/PARIS 2148          1
315095                 1
364511                 1
364512                 1
C 7076                 1
C 17368                1
SC/PARIS 2146          1
STON/O 2. 3101269      1
STON/O 2. 3101268      1
C.A. 24579             1
347062                 1
323951                 1
233478                 1
315088                 1
248723                 1
347079                 1
248726                 1
347074                 1
347075                 1
347076                 1
C.A. 18723             1
250652                 1
347073                 1
330935                 1
248659                 1
330932                 1
330931                 1
233866                 1
345498                 1
362316                 1
382653                 1
382651                 1
382650                 1
373450                 1
364859                 1
240261                 1
31028                  1
3101276                1
SCO/W 1585             1
Name: Ticket, dtype: int64

In [58]:
hey =combined['Sex'].size

In [67]:
ho = float(combined[combined.Sex==0]['Survived'].value_counts())

KeyError: 'Survived'

In [ ]:
hey/ho

In [68]:
hey, ho

(1309, 466.0)

In [66]:
ho/hey

0.3559969442322384