In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
import csv as csv
from sklearn.ensemble import RandomForestClassifier

train_df = pd.read_csv('train.csv', header=0)
test_df = pd.read_csv('test.csv', header=0)

train_df['Gender'] = train_df.Sex.map({'male':1, 'female':0})
test_df['Gender'] = test_df.Sex.map({'male':1, 'female':0})

In [7]:
train_df.Age[train_df.Age.isnull()] = train_df['Age'].dropna().median()

C:\Users\Director UYE\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [9]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

In [10]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
Gender         891 non-null int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [27]:
median_fare = np.zeros((3,3))

for i in range(0,3):
    for j in range(0,3):
        median_fare[i,j] = train_df.Fare[(train_df.Pclass == j+1) & (train_df.Embarked == i)].median()

In [16]:
Ports = list(enumerate(np.unique(train_df.Embarked.dropna())))

In [17]:
Ports_key = {name:i for i, name in Ports}

In [19]:
Ports_key

{'C': 0, 'Q': 1, 'S': 2}

In [21]:
train_df.Embarked = train_df.Embarked.dropna().map(lambda x: Ports_key[x])

In [24]:
train_df[train_df.Embarked.isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN,0
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN,0

In [28]:
median_fare

array([[ 78.2667,  24.    ,   7.8958],
       [ 90.    ,  12.35  ,   7.75  ],
       [ 52.    ,  13.5   ,   8.05  ]])

In [30]:
min(median_fare[:,0], key=lambda x: abs(x-80))

78.2667

In [32]:
train_df.Embarked[train_df.Embarked.isnull()] =

61    NaN
829   NaN
Name: Embarked, dtype: float64

In [45]:
def get_embarked(fare):
    embarkment = min(median_fare[:,train_df.Pclass-1], key=lambda x: abs(x-train_df.Fare))
    for k in range(0,3):
        if embarkment in median_fare[k,:]:
            return k

for j in range(0,3):
    train_df.Fare[(train_df.Pclass == j) & (train_df.Embarked.isnull())].apply(get_embarked)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [35]:
pd.apply(train_df.Fare, train_df.Pclass)

AttributeError: 'module' object has no attribute 'apply'

In [52]:
train_df.groupby(['Sex','Pclass']).median()

               PassengerId  Survived   Age  SibSp  Parch      Fare  Embarked  \
Sex    Pclass
female 1             447.0       1.0  32.5    0.0    0.0  82.66455       2.0
       2             439.5       1.0  28.0    0.0    0.0  22.00000       2.0
       3             376.0       0.5  28.0    0.0    0.0  12.47500       2.0
male   1             480.5       0.0  36.0    0.0    0.0  41.26250       2.0
       2             416.5       0.0  29.0    0.0    0.0  13.00000       2.0
       3             466.0       0.0  28.0    0.0    0.0   7.92500       2.0

               Gender
Sex    Pclass
female 1          0.0
       2          0.0
       3          0.0
male   1          1.0
       2          1.0
       3          1.0