In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
df = pd.read_csv("movie_metadata.csv", header=0)

In [18]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [20]:
df = df[pd.notnull(df['gross'])]

#sns.barplot(data=df, x='movie_title',y='gross')

In [27]:
df.movie_title.unique()

array(['Avatar\xc2\xa0',
       "Pirates of the Caribbean: At World's End\xc2\xa0",
       'Spectre\xc2\xa0', ..., 'Newlyweds\xc2\xa0',
       'Shanghai Calling\xc2\xa0', 'My Date with Drew\xc2\xa0'], dtype=object)

In [26]:
df.movie_title = df.movie_title.apply(lambda x: x.strip())

In [28]:
df.movie_title

0                                            Avatar
1          Pirates of the Caribbean: At World's End
2                                           Spectre
3                             The Dark Knight Rises
5                                       John Carter
6                                      Spider-Man 3
7                                           Tangled
8                           Avengers: Age of Ultron
9            Harry Potter and the Half-Blood Prince
10               Batman v Superman: Dawn of Justice
11                                 Superman Returns
12                                Quantum of Solace
13       Pirates of the Caribbean: Dead Man's Chest
14                                  The Lone Ranger
15                                     Man of Steel
16         The Chronicles of Narnia: Prince Caspian
17                                     The Avengers
18      Pirates of the Caribbean: On Stranger Tides
19                                   Men in Black 3
20        The Hobbit: The Battle of the Five Armies
21                           The Amazing Spider-Man
22                                       Robin Hood
23              The Hobbit: The Desolation of Smaug
24                               The Golden Compass
25                                        King Kong
26                                          Titanic
27                       Captain America: Civil War
28                                       Battleship
29                                   Jurassic World
30                                          Skyfall
                            ...
4974                    I Love You, Don't Touch Me!
4975                                       20 Dates
4977                                  Super Size Me
4978                                         The FP
4979                                Happy Christmas
4984                          The Brothers McMullen
4987                                 Tiny Furniture
4997                              George Washington
4998                    Smiling Fish & Goat on Fire
5001                                 The Last Waltz
5003                             The Exploding Girl
5004                        The Legend of God's Gun
5007                                   Down Terrace
5008                                         Clerks
5009                                 Pink Narcissus
5011                          In the Company of Men
5012                                       Sabotage
5015                                        Slacker
5021                                The Puffy Chair
5023                               Breaking Upwards
5025                                 Pink Flamingos
5026                                          Clean
5027                                     The Circle
5029                                       The Cure
5033                                         Primer
5034                                         Cavite
5035                                    El Mariachi
5037                                      Newlyweds
5041                               Shanghai Calling
5042                              My Date with Drew
Name: movie_title, dtype: object