In [1]:
import pandas as pd

In [2]:
destinations = pd.read_csv("destinations.csv")
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [3]:
train.shape

(3131466, 24)

In [4]:
test.shape

(2528243, 22)

In [5]:
train.head(5)

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-25 14:55:13,2,3,66,311,38374,1804.4043,433320,0,1,...,0,1,13925,6,0,1,4,8,126,30
1,2014-08-25 14:56:35,2,3,66,311,38374,1805.4212,433320,0,1,...,0,1,13925,6,0,1,4,8,126,83
2,2014-08-25 15:19:29,2,3,66,311,38374,1804.3272,433320,0,1,...,0,1,13925,6,0,1,4,8,126,62
3,2014-08-25 15:19:37,2,3,66,311,38374,1808.8740,433320,0,1,...,0,1,13925,6,0,1,4,8,126,78
4,2014-08-25 15:29:41,2,3,66,311,38374,1769.6181,433320,0,0,...,0,1,54563,3,0,1,4,8,126,31

In [6]:
test.head(5)

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538

In [7]:
train["hotel_cluster"].value_counts()

91    87327
41    65429
48    61933
64    60261
5     52890
65    52289
98    49214
59    48234
70    46311
46    46262
42    46152
21    46144
18    45954
25    45081
68    43957
83    43445
95    43060
82    42823
62    42574
28    42117
37    41697
58    41277
30    41120
9     41068
97    40567
16    39095
50    38788
72    38428
2     37482
99    36655
      ...
84    23177
79    23005
38    22983
67    22389
43    21711
66    21626
92    21276
31    20777
7     20738
12    20585
89    20527
54    20300
23    20262
87    20180
49    19867
45    19695
80    18755
3     18747
60    18379
93    18329
86    17922
71    17104
14    15758
75    13792
24    13096
53    11491
35    11290
27     9064
88     8917
74     4096
Name: hotel_cluster, dtype: int64

In [8]:
test_ids = set(test.user_id.unique())
train_ids = set(train.user_id.unique())
intersection_count = len(test_ids & train_ids)
intersection_count == len(test_ids)

False

In [9]:
test_ids

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 ...}

In [10]:
train_ids

{524289,
 262158,
 567981,
 1048592,
 786453,
 262166,
 262167,
 1048602,
 28,
 786467,
 524326,
 524327,
 786473,
 1048618,
 262195,
 524342,
 786490,
 1048636,
 62,
 524355,
 1021300,
 524362,
 262219,
 1048653,
 1092280,
 524370,
 786520,
 786521,
 786523,
 95,
 786528,
 262244,
 262248,
 786537,
 524394,
 786539,
 379187,
 1048686,
 524401,
 786547,
 786553,
 1048597,
 786560,
 786561,
 786562,
 524420,
 786565,
 1048710,
 524424,
 1048713,
 524436,
 524441,
 156,
 262170,
 524446,
 786591,
 786594,
 524451,
 786610,
 786611,
 524470,
 1091136,
 187,
 786620,
 786623,
 786624,
 786625,
 786627,
 786629,
 524488,
 1048785,
 524500,
 1048793,
 218,
 219,
 220,
 1048797,
 786654,
 393253,
 227,
 549937,
 230,
 232,
 786667,
 427731,
 1048827,
 992311,
 786693,
 1048839,
 1048840,
 1048844,
 786715,
 285,
 786720,
 1048868,
 294,
 524583,
 786729,
 301,
 1004936,
 786739,
 786742,
 786747,
 524604,
 786749,
 1048894,
 349579,
 786756,
 262470,
 262473,
 786764,
 786765,
 1048912,
 1048913,
 786773,
 524631,
 786776,
 1092324,
 786778,
 1048928,
 786785,
 786786,
 786788,
 524650,
 786796,
 524653,
 786800,
 786802,
 742803,
 786804,
 786805,
 786806,
 786808,
 786809,
 262522,
 524667,
 524669,
 1048961,
 524675,
 524678,
 524679,
 786826,
 1048971,
 524685,
 786830,
 407,
 408,
 524700,
 131141,
 262562,
 873883,
 1048997,
 524712,
 262569,
 131143,
 1049009,
 1049011,
 524725,
 1049016,
 524729,
 786877,
 1049025,
 786885,
 1049031,
 1049032,
 1049033,
 786890,
 1092343,
 262608,
 469,
 1092345,
 262618,
 786910,
 1049055,
 262626,
 262627,
 484,
 786922,
 786923,
 786924,
 493,
 1049078,
 506,
 786941,
 393302,
 1049097,
 88,
 786965,
 1049110,
 262680,
 1049114,
 611759,
 1108606,
 524836,
 786982,
 551,
 786984,
 1049133,
 524856,
 569,
 787003,
 1049154,
 787011,
 524868,
 582,
 787022,
 787024,
 1152253,
 787034,
 1049181,
 787038,
 787039,
 787040,
 787042,
 1049187,
 787045,
 43794,
 1049199,
 524912,
 262771,
 611774,
 262774,
 262776,
 787065,
 787067,
 787069,
 1049214,
 524931,
 262788,
 830230,
 1049222,
 873921,
 787084,
 262802,
 1049238,
 787097,
 524954,
 131184,
 262819,
 676,
 1049255,
 1049256,
 787113,
 1178443,
 524971,
 1049261,
 524977,
 524978,
 262837,
 1179764,
 1049277,
 123254,
 1049281,
 524997,
 710,
 1049287,
 1049288,
 1126070,
 1049296,
 1048697,
 1049307,
 525022,
 525027,
 655484,
 1049326,
 262895,
 1091155,
 873939,
 1049333,
 759,
 1049336,
 525052,
 1049341,
 1049345,
 1049347,
 1049353,
 778,
 262932,
 1049366,
 791,
 787224,
 787225,
 787226,
 525085,
 525088,
 787233,
 804,
 262949,
 810,
 811,
 525100,
 525102,
 815,
 786568,
 1049394,
 1049395,
 787252,
 1049398,
 787259,
 787260,
 787267,
 787268,
 525126,
 787272,
 1049418,
 525133,
 847,
 1092408,
 787284,
 787285,
 854,
 787287,
 218596,
 858,
 787291,
 1049436,
 1049439,
 263008,
 787298,
 787300,
 525158,
 899120,
 1049450,
 787308,
 787310,
 525168,
 787315,
 884,
 1049474,
 1136107,
 787333,
 904,
 787341,
 1049486,
 787344,
 787353,
 787354,
 787358,
 436483,
 576148,
 787380,
 1049538,
 525253,
 699212,
 787402,
 1136119,
 787405,
 1049555,
 525269,
 787418,
 787419,
 349691,
 998,
 787435,
 263148,
 263150,
 787439,
 1049584,
 1049589,
 1164453,
 787448,
 1049595,
 1049603,
 787460,
 699222,
 525319,
 384112,
 263179,
 525326,
 1049615,
 525329,
 314280,
 787479,
 787480,
 349700,
 1050,
 787484,
 1049634,
 1049635,
 1038791,
 263209,
 1049643,
 1049645,
 787503,
 1049649,
 1049650,
 830302,
 115573,
 787514,
 1049664,
 787522,
 787523,
 584882,
 1049678,
 655544,
 1049682,
 1049683,
 1049684,
 787547,
 787548,
 1049693,
 263268,
 1049703,
 787561,
 525418,
 787563,
 917693,
 1092456,
 263288,
 1049723,
 961386,
 1049726,
 262336,
 787586,
 1049731,
 787588,
 1049738,
 263308,
 787603,
 263317,
 787607,
 263321,
 410402,
 1049756,
 183349,
 1049759,
 787618,
 787624,
 1193,
 1194,
 1049776,
 263345,
 1049778,
 1005086,
 787643,
 393419,
 263368,
 174967,
 1049804,
 525520,
 1073713,
 1238,
 263384,
 525533,
 1247,
 43899,
 525547,
 1260,
 525549,
 525550,
 1049842,
 1179859,
 1268,
 787703,
 1272,
 1048788,
 263418,
 1275,
 263422,
 525570,
 1049861,
 1049865,
 787722,
 1049872,
 1049877,
 611076,
 1307,
 787743,
 1049888,
 525602,
 1005105,
 1325,
 787758,
 525615,
 787763,
 1332,
 1049910,
 525625,
 525626,
 223,
 525628,
 787779,
 787780,
 1354,
 1356,
 1360,
 349752,
 1049942,
 787799,
 1368,
 1370,
 787803,
 525662,
 263521,
 1379,
 263526,
 263527,
 1386,
 787819,
 263534,
 263536,
 263539,
 263542,
 1403,
 1405,
 525694,
 787839,
 1049985,
 263554,
 1413,
 787849,
 787850,
 1421,
 263568,
 1050003,
 787865,
 263578,
 1435,
 263580,
 787871,
 1050018,
 1443,
 787876,
 1136198,
 1448,
 1450,
 218695,
 1456,
 1461,
 263606,
 263609,
 263610,
 263611,
 787901,
 1470,
 263615,
 1473,
 1475,
 787912,
 1483,
 1488,
 1492,
 525784,
 787929,
 1499,
 787938,
 1515,
 1050095,
 1521,
 1524,
 525815,
 1050104,
 1530,
 787965,
 1050112,
 525825,
 1050119,
 787976,
 1050122,
 525837,
 787985,
 787987,
 787988,
 1050133,
 787990,
 525850,
 480858,
 1050142,
 1050144,
 525859,
 525860,
 263718,
 525866,
 788011,
 525872,
 724563,
 1050164,
 1050165,
 1590,
 1179914,
 263745,
 1050179,
 1030080,
 1607,
 525899,
 1050189,
 263759,
 263762,
 743011,
 1050200,
 349796,
 525914,
 1030081,
 1050213,
 788070,
 788072,
 788073,
 794398,
 788100,
 788102,
 1178476,
 525963,
 788110,
 788111,
 1179928,
 788117,
 525977,
 525982,
 788129,
 525986,
 788132,
 1050278,
 1050281,
 788140,
 788143,
 1050300,
 263872,
 788164,
 263878,
 526027,
 890420,
 1050326,
 788184,
 1050329,
 1050336,
 526052,
 788197,
 263915,
 1050349,
 1050350,
 1780,
 1050359,
 263929,
 1050362,
 598820,
 43989,
 788225,
 1796,
 788229,
 263942,
 87681,
 1050376,
 788233,
 263949,
 1050382,
 1050385,
 788243,
 263962,
 788253,
 788254,
 788255,
 526114,
 788261,
 1833,
 788267,
 788268,
 1050415,
 263984,
 788273,
 1845,
 788281,
 788287,
 788288,
 264004,
 526150,
 1099921,
 788300,
 1050447,
 1050450,
 1877,
 1050454,
 1879,
 788312,
 1050458,
 415512,
 1050463,
 788322,
 788323,
 437222,
 788326,
 788328,
 1897,
 788330,
 1899,
 1901,
 788335,
 1050481,
 526197,
 175081,
 1050498,
 1050499,
 1050506,
 788364,
 264077,
 264081,
 788372,
 788375,
 314310,
 526236,
 526238,
 526240,
 788385,
 526242,
 526244,
 786758,
 526247,
 788392,
 788394,
 788396,
 788397,
 1050544,
 1092595,
 264117,
 788407,
 788411,
 788412,
 393546,
 788414,
 526272,
 1050562,
 1050563,
 240933,
 961527,
 1136290,
 788430,
 393549,
 526288,
 264145,
 526298,
 2012,
 2015,
 336,
 2018,
 1050595,
 612006,
 2022,
 788468,
 2039,
 2041,
 2045,
 2047,
 1050625,
 2050,
 2054,
 2055,
 264201,
 2062,
 1178489,
 655704,
 2067,
 264213,
 2070,
 2072,
 526362,
 2075,
 1048922,
 2078,
 2082,
 2087,
 1003909,
 264239,
 2097,
 1050678,
 1050679,
 2105,
 264251,
 264252,
 1050686,
 264255,
 788545,
 2116,
 2117,
 2119,
 2122,
 874167,
 2125,
 788558,
 1050704,
 2129,
 526418,
 264275,
 526420,
 872975,
 788573,
 2142,
 1050719,
 526436,
 1050729,
 1050732,
 437266,
 1050735,
 1126118,
 526454,
 526458,
 1050758,
 2184,
 788617,
 788618,
 1050770,
 1050771,
 175129,
 1050776,
 1050779,
 788650,
 788655,
 788657,
 1050803,
 1050806,
 264377,
 1050810,
 1050812,
 874186,
 1050814,
 1050816,
 44064,
 401548,
 1050822,
 788679,
 1136332,
 2253,
 1050831,
 524664,
 44067,
 393595,
 788710,
 881709,
 1048957,
 526579,
 917886,
 1050870,
 655743,
 788732,
 264446,
 1050880,
 526593,
 526606,
 1136345,
 264472,
 2329,
 612058,
 2334,
 264482,
 264486,
 264492,
 1005277,
 44083,
 2358,
 2360,
 2361,
 2363,
 1050948,
 1050952,
 526674,
 1050970,
 788832,
 788833,
 264548,
 1136358,
 1050982,
 788839,
 874215,
 788848,
 788849,
 788857,
 2426,
 526715,
 1051007,
 788865,
 612075,
 44097,
 893864,
 874220,
 788879,
 2453,
 2454,
 1051031,
 2456,
 917915,
 1051044,
 788901,
 1051049,
 526769,
 264626,
 2483,
 2491,
 526780,
 264637,
 2495,
 2496,
 264641,
 2499,
 788933,
 788934,
 788936,
 788937,
 788940,
 1051085,
 1051091,
 526804,
 1051094,
 2524,
 526813,
 2526,
 2527,
 2532,
 1028291,
 788973,
 1051124,
 2549,
 1051127,
 264700,
 264702,
 2560,
 788993,
 2567,
 218882,
 2576,
 2578,
 1051162,
 1051163,
 1051165,
 264735,
 1051168,
 917937,
 264744,
 306268,
 2604,
 2607,
 1073759,
 2619,
 1051197,
 2622,
 262581,
 2625,
 2630,
 2636,
 1051216,
 789073,
 2642,
 786873,
 789083,
 1051229,
 526948,
 789101,
 789106,
 526967,
 1051258,
 789115,
 789120,
 789121,
 789130,
 1051275,
 1051278,
 789138,
 838078,
 1051288,
 2717,
 264866,
 789155,
 830577,
 874268,
 527018,
 1051307,
 1051309,
 527023,
 789170,
 1051315,
 1051317,
 122298,
 264896,
 1051331,
 527044,
 1051333,
 264903,
 2765,
 527055,
 568440,
 1051348,
 655822,
 1051353,
 44154,
 87845,
 527075,
 1051365,
 1051367,
 1051369,
 527090,
 393683,
 87849,
 264953,
 1051389,
 527102,
 1049045,
 264968,
 1051403,
 2838,
 1051416,
 612143,
 786906,
 1126141,
 ...}

In [11]:
intersection_count

100027

In [12]:
len(test_ids)

1181577

In [13]:
train["date_time"] = pd.to_datetime(train["date_time"])
train["year"] = train["date_time"].dt.year
train["month"] = train["date_time"].dt.month

In [14]:
import random

In [15]:
unique_users = train.user_id.unique()

sel_user_ids = [unique_users[i] for i in sorted(random.sample(range(len(unique_users)), 10000))]
sel_train = train[train.user_id.isin(sel_user_ids)]

In [17]:
sel_train.shape

(303567, 26)

In [20]:
sel_train["user_id"]

28          433349
29          433349
30          433349
31          433349
32          433349
33          433349
34          433349
35          433349
36          433349
37          433349
38          433349
39          433349
40          433349
41          433349
42          433349
43          433349
44          433349
152         433879
153         433879
154         433879
155         433879
156         433879
157         433879
158         433879
159         433879
160         433879
161         433879
162         433879
163         433879
164         433879
            ...
3131145    1196406
3131146    1196406
3131147    1196406
3131148    1196406
3131149    1196406
3131150    1196406
3131151    1196406
3131152    1196406
3131153    1196406
3131154    1196406
3131155    1196406
3131156    1196406
3131157    1196406
3131158    1196406
3131159    1196406
3131160    1196406
3131161    1196406
3131162    1196406
3131163    1196406
3131164    1196406
3131165    1196406
3131166    1196406
3131167    1196406
3131168    1196406
3131169    1196406
3131170    1196406
3131388    1197641
3131389    1197641
3131390    1197641
3131391    1197641
Name: user_id, dtype: int64

In [21]:
t1 = sel_train[((sel_train.year == 2013) | ((sel_train.year == 2014) & (sel_train.month < 8)))]
t2 = sel_train[((sel_train.year == 2014) & (sel_train.month >= 8))]

In [22]:
t1.shape

(191460, 26)

In [23]:
t2.shape

(112107, 26)

In [24]:
t2 = t2[t2.is_booking == True]

In [25]:
t2.shape

(7968, 26)

In [26]:
most_common_clusters = list(train.hotel_cluster.value_counts().head().index)

In [27]:
predictions = [most_common_clusters for i in range(t2.shape[0])]

In [28]:
import ml_metrics as metrics

In [29]:
target = [[l] for l in t2["hotel_cluster"]]

In [30]:
metrics.mapk(target, predictions, k=5)

0.058255940428380185

In [31]:
train.corr()["hotel_cluster"]

site_name                   -0.022323
posa_continent               0.017027
user_location_country       -0.009957
user_location_region         0.008874
user_location_city           0.001607
orig_destination_distance    0.005993
user_id                     -0.000298
is_mobile                    0.008362
is_package                   0.036139
channel                      0.001585
srch_adults_cnt              0.012360
srch_children_cnt            0.016872
srch_rm_cnt                 -0.005628
srch_destination_id         -0.011570
srch_destination_type_id    -0.032429
is_booking                  -0.020123
cnt                          0.002197
hotel_continent             -0.019618
hotel_country               -0.023803
hotel_market                 0.035106
hotel_cluster                1.000000
year                        -0.000743
month                       -0.000119
Name: hotel_cluster, dtype: float64

In [32]:
destinations.head()

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,...,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,0,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-1.897627,...,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657
1,1,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.165028,-2.181690,-2.181690,-2.031597,...,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690
2,2,-2.183490,-2.224164,-2.224164,-2.189562,-2.105819,-2.075407,-2.224164,-2.118483,-2.140393,...,-2.224164,-2.224164,-2.196379,-2.224164,-2.192009,-2.224164,-2.224164,-2.224164,-2.224164,-2.057548
3,3,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,...,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409
4,4,-2.189562,-2.187783,-2.194008,-2.171153,-2.152303,-2.056618,-2.194008,-2.194008,-2.145911,...,-2.187356,-2.194008,-2.191779,-2.194008,-2.194008,-2.185161,-2.194008,-2.194008,-2.194008,-2.188037

In [33]:
destinations.shape

(62106, 150)

In [34]:
from sklearn.decomposition import PCA

In [37]:
pca = PCA(n_components=3)
dest_small = pca.fit_transform(destinations[["d{0}".format(i + 1) for i in range(149)]])
dest_small = pd.DataFrame(dest_small)
dest_small["srch_destination_id"] = destinations["srch_destination_id"]

In [39]:
dest_small.head()

          0         1         2  srch_destination_id
0  0.044268 -0.169419 -0.032522                    0
1  0.440761 -0.077405  0.091572                    1
2 -0.001033 -0.020677 -0.012108                    2
3  0.480467  0.040345  0.019320                    3
4  0.207253  0.042694  0.011744                    4

In [43]:
def calc_fast_features(df):
    df["date_time"] = pd.to_datetime(df["date_time"])
    df["srch_ci"] = pd.to_datetime(df["srch_ci"], format='%Y-%m-%d', errors="coerce")
    df["srch_co"] = pd.to_datetime(df["srch_co"], format='%Y-%m-%d', errors="coerce")
    
    props = {}
    for prop in ["month", "day", "hour", "minute", "dayofweek", "quarter"]:
        props[prop] = getattr(df["date_time"].dt, prop)
        
    carryover = [p for p in df.columns if p not in ["date_time","srch_ci","srch_co"]]
    for prop in carryover:
        props[prop] = df[prop]
        
    date_props = ["month","day","dayofweek","quarter"]
    for prop in date_props:
        props["ci_{0}".format(prop)] = getattr(df["srch_ci"].dt, prop)
        props["co_{0}".format(prop)] = getattr(df["srch_co"].dt, prop)
    props["stay_span"] = (df["srch_co"] - df["srch_ci"]).astype('timedelta64[h]')
    
    ret = pd.DataFrame(props)
    
    ret = ret.join(dest_small, on="srch_destination_id", how='left', rsuffix="dest")
    ret = ret.drop("srch_destination_iddest", axis=1)
    return ret

df = calc_fast_features(t1)
df.fillna(-1, inplace = True)

C:\Users\Director UYE\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Director UYE\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Director UYE\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [44]:
predictors = [c for c in df.columns if c not in ["hotel_cluster"]]
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=10, min_weight_fraction_leaf=0.1)
scores = cross_validation.cross_val_score(clf, df[predictors], df['hotel_cluster'], cv=3)
scores

array([ 0.06611441,  0.06487401,  0.06708474])

Binary Classifiers

In [47]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import KFold
from itertools import chain

In [51]:
all_probs = []
unique_clusters = df["hotel_cluster"].unique()
for cluster in unique_clusters:
    df["target"] = 1
    df["target"][df["hotel_cluster"] != cluster] = 0
    predictors = [col for col in df if col not in ['hotel_cluster', "target"]]
    probs = []
    cv = KFold(len(df["target"]), n_folds=2)
    clf = RandomForestClassifier(n_estimators=10, min_weight_fraction_leaf=0.1)
    for i, (tr, te) in enumerate(cv):
        clf.fit(df[predictors].iloc[tr], df["target"].iloc[tr])
        preds = clf.predict_proba(df[predictors].iloc[te])
        probs.append([p[1] for p in preds])
    full_probs = chain.from_iterable(probs)
    all_probs.append(list(full_probs))
    
prediction_frame = pd.DataFrame(all_probs).T
prediction_frame.columns = unique_clusters
def find_top_5(row):
    return list(row.nlargest(5).index)

preds = []
for index, row in prediction_frame.iterrows():
    preds.append(find_top_5(row))
    
metrics.mapk([[l] for l in t2.iloc["hotel_cluster"]], preds, k=5)

C:\Users\Director UYE\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

TypeError: cannot do positional indexing on <class 'pandas.indexes.numeric.Int64Index'> with these indexers [hotel_cluster] of <type 'str'>